{% load static%}
<!--   partner section start    -->
<div class="partner-section" style="background-color: #1c0629;">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="partner-carousel owl-carousel owl-theme border-bottom border-top-lg-0 border-top">
               <div class="single-partner-item">
                  <div class="outer">
                     <div class="inner" style="position: relative;">
                        <a href="#galeria"><img src="{% static 'img/x.avif' %}"  style="border: 2px solid #FBFADA;">
                          <p class="titulo">X</p></a>
                    </div>
                  </div>
               </div>
               <div class="single-partner-item">
                  <div class="outer">
                     <div class="inner" style="position: relative;">
                        <a href="#galeria"> <img src="{% static 'img/threads.avif'' %}" style="border: 2px solid #FBFADA;">
                          <p class="titulo">Threads</p></a>
                    </div>
                    
                    
                    
                    
                  </div>
               </div>
               <div class="single-partner-item">
                  <div class="outer">
                     <div class="inner" style="position: relative;">
                        <a href="#galeria"><img src="{% static 'img/instagram.avif'' %}" style="border: 2px solid #FBFADA;">
                        <p class="titulo">Instagram</p></a>
                    </div>
                  </div>
               </div>
               <div class="single-partner-item">
                  <div class="outer">
                     <div class="inner" style="position: relative;">
                        <a href="#galeria"><img src="{% static 'img/tiktok.avif'' %}" style="border: 2px solid #FBFADA;">
                          <p class="titulo">Tik Tok</p></a>
                    </div>
                  </div>
               </div>
               <div class="single-partner-item">
                  <div class="outer">
                     <div class="inner" style="position: relative;">
                        <a href="#galeria"> <img src="{% static 'img/facebook.avif'' %}" style="border: 2px solid #FBFADA;">
                          <p class="titulo">Facebook</p></a>
                    </div>
                  </div>
               </div>
               <div class="single-partner-item">
                  <div class="outer">
                     <div class="inner" style="position: relative;">
                        <a href="#galeria"> <img src="{% static 'img/youtube.avif'' %}" style="border: 2px solid #FBFADA;">
                          <p class="titulo">Youtube</p></a>
                    </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!--   partner section end    -->

<!--   cta section start    -->

        