<!--   faq section start    -->
<div id="comocomprar" class="faq-section">
    <div class="container">
       <div class="row">
          <div class="col-xl-6 col-lg-7">
             <div class="targets">
                <div class="box wow fadeInUp" data-wow-duration="1.5s">
                   <div class="icon-wrapper"><i class="flaticon-external-link-square-with-an-arrow-in-right-diagonal"></i></div>
                   <div class="box-details">
                      <h4>¿Como realizar un pedido?</h4>
                      <p style="text-align: justify;">
                        Nuestro proceso es simple:
                        <ul style="list-style-type: none; padding-left: 0;">
                            <li style="text-align: justify;">📦 Selecciona el paquete que necesitas, la cantidad deseada y proporciona el enlace a tu perfil o publicación.</li>
                            <li style="text-align: justify;">💳 Agrega tu selección al carrito y realiza el pago de forma segura a través de MercadoPago.</li>
                            <li style="text-align: justify;">⏳ Después de completar el pago, nuestro equipo procesará los servicios y lo vera impactado a la brevedad.</li>
                           
                        </ul>
                        
                    </p>
                    
                   </div>
                </div>
             </div>
          </div>
          <div class="offset-xl-1 col-xl-5 col-lg-5 faqs">
            
             <div class="accordion" id="accordionExample">
                <div class="card wow fadeInUp" data-wow-duration="1s">
                   <div class="card-header" id="headingOne">
                      <h2 class="mb-0">
                         <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                         ¿Por que elegirnos?                        
                         </button>
                      </h2>
                   </div>
                   <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body"style="text-align: justify;">
                        ¿Por qué elegirnos? Además de ofrecer los precios más bajos del mercado, en Impulso Social valoramos la relación directa con nuestros clientes. Si estás interesado en pedidos mayoristas, te invitamos a consultar directamente a través de nuestro canal exclusivo de WhatsApp.

                        Nuestro equipo estará encantado de ofrecerte atención personalizada y asesoramiento para satisfacer tus necesidades al por mayor                      </div>
                   </div>
                </div>
                <div class="card wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                   <div class="card-header" id="headingTwo">
                      <h2 class="mb-0">
                         <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                         Metodo de Pago Seguro - Mercado Pago
                         </button>
                      </h2>
                   </div>
                   <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body" style="text-align: justify;">
                        A través de la pasarela de pagos mas confiable y conocida como Mercado Pago puede realizar sus compras.
                      </div>
                   </div>
                </div>
                <div class="card wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                   <div class="card-header" id="headingThree">
                      <h2 class="mb-0">
                         <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                         ¿Como es el proceso de compra?
                         </button>
                      </h2>
                   </div>
                   <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      <div class="card-body" style="text-align: justify;">
                         Agregue al carrito la cantidad de paquetes que desee. <br>Para cada paquete se le pedira un Link.  
                         Si son seguidores, el link debe ser el enlace a su perfil, en caso de likes y views, debe ser el link de su publicación.
                         Los servicios en general no se demoran más de 15 minutos en asignarse, pero hasta 24 horas pueden demorarse. Pasadas las 24 horas le pedimos que se comunique con nosotros por Whatsapp por inconvenientes. 
                      </div>
                      
                   </div> </div>

                   <div class="card wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                     <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                           <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                           ¿Mi perfíl debe ser Público?
                           </button>
                        </h2>
                     </div>
                     <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body" style="text-align: justify;">
                           Sí, para poder procesar su pedido, el perfíl debe ser público, si usted lo tiene en privado por favor modifiquelo, una vez procesado el pedido, puede volver a dejarlo privado y sus servicios no se modifican.
                        </div>
                        
                     </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!--   faq section end    -->
