{% load static%}


 <!--  about section start  -->
 <div class="about-section home-2">
    <div class="container">
       <div class="row">
          <div class="col-lg-5">
             <img class="ceo-pic" src="{% static 'img/quienessomos.png' %}" alt="seguidores">
          </div>
          <div class="col-lg-6 offset-lg-1">
             <div class="comment-content">
                <span class="title">¡Bienvenido a Impulso Social!</span>
                <h2 style="text-align: left;" class="subtitle">Potencia tus redes</h2>
                <p>Consegui los seguidores para tus redes, ese impulso que necesitamos para comenzar</p>
               
                  
                  <p>  Con solo unos clics, puedes adquirir paquetes de seguidores, likes y views para potenciar tu presencia en las redes sociales.   </p>
                     <p>  ¿Quieres 1000 seguidores en tus perfiles?  </p>   Nuestro proceso es simple:<p> Elige tu paquete, añádelo al carrito y paga de manera segura a través de MercadoPago. </p>
                        <p>   Una vez completado el pago, recibirás tu servicio automáticamente, sin complicaciones.</p>

                  </p>
                
            
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!--  about section end  -->